header{
    background-image: url("./IMAGENES/Central/imagenCentral.png");
    color: white;
    height: 500px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.transparente{
 height: 80px;
   outline: 3px solid black;
}
.productos{
    height: 80px;
    width: 100%;
    color:bisque;
    background-color: rgb(109, 107, 107);
    text-align: center;
}

.fondoEncabezado{
    display: flex;
    justify-content: flex-end;
}
.alinear{
    color: white;
    display: block;
    width: 50%;
     flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-right: 50px;
    padding-left: 50px;
}

.tradicional{
    color: white;
  display: flex;
}

.tradicional p{
    padding: 20px;
}

.sinAzucar{
 
    color: white;
  display: flex;
}

.sinAzucar p{
    padding: 20px;
}
.choconutt{
    color: white;
  display: flex;
}
.choconutt p{
    padding: 20px;
}

.maicena{
    color: white;
    height: 400px;
    background-image: url(./IMAGENES/Productos/Producto4b.png);
}

.mediaPantalla{
    width: 50%;
    background-color: black;
}
.brown{
    background-color: rgb(236, 192, 137);
}

.alma{
    font-size: 40px;
}

.letraMarron{
    color:bisque;
}

.css-button-fully-rounded--black {
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 20px;
    border: 2px solid #212529;
    background: #171718;
  }

  .masInfo{
    border: 2px solid bisque;
   
  }

  .maicenaTexto{
    width: 30%;
  }

  .masInfoMaicena{
    border: 2px solid black;
   color: black;
   background-color: bisque;
  }

  .tresIconos{
    background-image: url(./IMAGENES/Logo/tresIconos.jpeg);
    color:#fff;
    height: 400px;

  }

  form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    min-width: 200px;
    margin: 0 auto;
}

label, input, textarea {
    margin-bottom: 10px;
}

#contacto{
    background-image: url(./IMAGENES/Productos/Producto4.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}